body, pre, html, p, a, h1, h2, h3, h4, h5, h6, button, ul, li, header {
  margin: 0;
  padding: 0;
}

html {
  font-family: Roboto;
  text-align: center;
  font-size: 20px;
  color: #333333;
  height: 100%;
}

a {
  transition: all 0.15s;
  text-decoration: none;
  color: #222222;
}

a:hover {
  color: #AAAAAA;
  cursor: pointer;
}

#title {
  font-size: 2.25em;
  font-weight: normal;
  margin-top: 1em;
}

#main {
  margin: auto;
  width: 95%;
}

#contact {
  margin: 1em;
}

.contact-link {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
  color: #666666;
}

#navbar {
  margin: 1em;
  padding: 0.5em;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
}

.navbar-elem {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
}

#content {
  text-align: justify;
  line-height: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  width: 50%;
}

p a {
  color: #444444;
  border-bottom: 1px #444444 solid;
}

p a:hover {
  color: #AAAAAA;
  border-bottom: 1px #AAAAAA solid;
}

#content p {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.project {
  padding-bottom: 1.5em;
}

.project-description {
  margin-bottom: 1em;
}

.project-blurb {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: baseline;
}

.project-name {
  margin-right: 1em;
}

.project-name:hover {
  cursor: pointer;
  color: #AAAAAA;
}

.project-langs {
  margin-left: 1em;
  font-size: 0.8em;
  color: #666666;
}

.blog {
  padding-bottom: 1.5em;
}

.blog-blurb {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: baseline;
}

.blog-title {
  margin-right: 1em;
}

.blog-title:hover {
  cursor: pointer;
  color: #AAAAAA;
}

.blog-date {
  margin-left: 1em;
  font-size: 0.8em;
  color: #666666;
}

.blog-text {
  margin-bottom: 1em;
}

@media all and (max-width: 1000px) {
  html {
    font-size: 12px;
  }

  #main {
    width: 100%;
  }

  #content {
    width: 80%;
  }

  .blog-date {
    display: none;
  }
}

/* CODE BLOCKS */

.custom-code-block {
	padding: 1em 1em 1em 1em;
	font-size: 0.7em;
	text-align: left;
	background: #2d2d2d;
	color: #f9f5d7;
	overflow-x: auto;
}

/* FONT COLORS */

/* black */
.fc_0 {
	color: #1d2021;
	background-color: #f9f5d7;
}
.fc_1 {
	color: #928374;
}
/* red */
.fc_2 {
	color: #cc241d;
}
.fc_3 {
	color: #fb4934;
}
/* green */
.fc_4 {
	color: #98971a;
}
.fc_5 {
	color: #b8bb26;
}
/* yellow */
.fc_6 {
	color: #d79921;
}
.fc_7 {
	color: #fabd2f;
}
/* blue */
.fc_8 {
	color: #458588;
}
.fc_9 {
	color: #83a598;
}
/* purple */
.fc_10 {
	color: #b16286;
}
.fc_11 {
	color: #d3869b;
}
/* light blue */
.fc_12 {
	color: #689d6a;
}
.fc_13 {
	color: #8ec07c;
}
/* white */
.fc_14 {
	color: #a89984;
}
.fc_15 {
	color: #ebdbb2;
}

/* SPINNER ANIMATION */

.load-spinner {
  border: 2px solid #AAAAAA;
  border-top: 2px solid #444444;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin  {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
